* {
  margin: 0;
}

.container {
  width: 148px;
  height: 148px;

  margin: 8px  ;

  background-color: var(--ion-color-background);
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  padding: 12px;

  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    color: var(--ion-color-text-primary);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .percentual-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 4px;
    height: 100%;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
        height: 32px;
        margin-right: 8px;
      }
      p {
        color: var(--ion-color-text-primary);
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  @media(max-width: 320px) {
    width: 200px;
    height: 200px;
  }
  @media(min-width: 320px) {
    width: 120px;
    height: 120px;
  }

  @media (min-width:375px) {
    width: 147px;
    height: 147px;
  }

  @media (min-width:425px) {
    width: 172px;
    height: 172px;
  }
}
