// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Inter';
  --ion-color-background: #333333;

  /** primary **/
  --ion-color-primary: #86c127;
  --ion-color-primary-rgb: 134, 193, 39;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #76aa22;
  --ion-color-primary-tint: #92c73d;

  /** secondary **/
  --ion-color-secondary: #00a5d3;
  --ion-color-secondary-rgb: 0, 165, 211;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0091ba;
  --ion-color-secondary-tint: #1aaed7;

  /** text-primary **/
  --ion-color-text-primary: #f3eae8;
  --ion-color-text-primary-rgb: 243, 234, 232;
  --ion-color-text-primary-contrast: #000000;
  --ion-color-text-primary-contrast-rgb: 0, 0, 0;
  --ion-color-text-primary-shade: #d6cecc;
  --ion-color-text-primary-tint: #f4ecea;

  /** text-secondary **/
  --ion-color-text-secondary: #141607;
  --ion-color-text-secondary-rgb: 20, 22, 7;
  --ion-color-text-secondary-contrast: #ffffff;
  --ion-color-text-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-text-secondary-shade: #121306;
  --ion-color-text-secondary-tint: #2c2d20;

  /** success **/
  --ion-color-success: #5cb85c;
  --ion-color-success-rgb: 92, 184, 92;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #51a251;
  --ion-color-success-tint: #6cbf6c;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #ce273f;
  --ion-color-danger-rgb: 206, 39, 63;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b52237;
  --ion-color-danger-tint: #d33d52;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
