<ion-header>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-icon">
      <ion-icon src="assets/icon/leaf.svg"></ion-icon>
    </div>
    <div>
    <div class="container-input">
      <ion-item class="item-login">
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="item-login">
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
      <ion-button expand="block">Entrar</ion-button>

      <div class="options-login">
        <h2>Meu primeiro acesso</h2>
        <h2>Esqueceu a senha</h2>
      </div>
    </div>
  </div>
</ion-content>
