<ion-header>
</ion-header>

<ion-content>
    <div class="container">
        <h1>Fazer Login
            <ion-icon src="assets/icon/leaf.svg"></ion-icon>
        </h1>
        <div class="container-box-shadow">
            <div class="container-input">
                <ion-item>
                    <ion-label position="floating">Digite seu usuario</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Digite sua senha</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <div class="options">
                    <h2>Primeiro acesso?<span> cadastre-se</span></h2>
                    <h2>Esqueceu a senha?<span> recuperar</span></h2>
                </div>
            </div>
            <ion-button expand="block">Login</ion-button>
        </div>
    </div>
</ion-content>
