<ion-header>
</ion-header>

<ion-content>
    <div class="container">
        <h1>Cadastro
            <ion-icon src="assets/icon/leaf.svg"></ion-icon>
        </h1>
        <div class="container-input">
            <ion-item>
                <ion-label position="floating">Como você quer ser chamado?</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Seu nome de usuário para login</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Digite seu email</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <div class="container-senha">
                <ion-item>
                    <ion-label position="floating">Digite sua senha</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-icon class="icon-verify" src="assets/icon/folha.svg"></ion-icon>
            </div>
            <div class="container-senha">
                <ion-item>
                    <ion-label position="floating">Confirme sua senha</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-icon class="icon-verify" src="assets/icon/folha.svg"></ion-icon>
            </div>

            <ion-button>Cadastrar</ion-button>
        </div>
    </div>
</ion-content>
