<ion-header>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-icon">
      <ion-icon src="assets/icon/leaf.svg"></ion-icon>
    </div>
    <div>
      <div class="container-input">
        <ion-item class="item-login">
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item class="item-login">
          <ion-label position="floating">Senha</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item class="item-login">
          <ion-label position="floating">Confirmar Senha</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>
      <ion-button expand="block">Registrar</ion-button>

      <div class="options-registration">
        <h2>Já possuo uma conta</h2>
      </div>
    </div>
  </div>
</ion-content>
